<div>
  <h3>{{title}}</h3>
</div>

<form>
  <div class="form-group">
    <div class="input-group">
      <input [(ngModel)]="name" name='name' class="form-control" (keydown.enter)="keyDownEnter()" required
        autocomplete="off" />
      <button type="button" (click)='submitNewTask()' id="item-add-button" class="btn btn-success">Add</button>
    </div>
  </div>
</form>

<!-- <p [ngClass]="formEmpty ? 'formConfirm' : 'formFieldEmpty'">{{ name }}</p> -->

<!-- Item List Component -->
<app-item-list></app-item-list>
