<h1>{{title}}</h1>
<form>
  <input [(ngModel)]="name" name='name' (keyup)="formConfirmBackground()" required autocomplete="off" />
  <button type="button" (click)='submitNewTask()'>Submit</button>


</form>

<p [ngClass]="formEmpty ? 'formConfirm' : 'formFieldEmpty'">{{name}}</p>

<div class="numberOfItems">Number of Items: {{taskItems.length}}</div>

<div class='test-array' *ngFor="let taskItem of taskItems">
  <div class="item"> {{taskItem}}
  </div>
</div> <button (click)="getItems()">Get Posts</button>

<div *ngFor="let item of items | async">
  <a href="http://localhost:3000/api/{{item._id}}">{{item._id}} - {{ item.name }}</a>
</div>
