h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3em;
  font-weight: 900;
  position: relative;
}

p {
  font-size: 1em;
}

.item,
.item-control-text {
  width: fit-content;
  font-weight: 500;
  min-width: 30px;
  text-transform: capitalize;
}

.numberOfItems {
  background-color: black;
  width: fit-content;
  padding: 5px;
  color: white;
  font-weight: 500;
  min-width: 30px;
  text-transform: capitalize;
  margin-top: 5px;
  height: fit-content;
  margin-bottom: 50px;
}


.formFieldEmpty {
  background-color: white;
  width: fit-content;
  padding: 5px;
  margin-top: 5px;
  height: 2em;
}

.formConfirm {
  background-color: olivedrab;
  width: fit-content;
  padding: 5px;
  color: white;
  font-weight: 500;
  min-width: 30px;
  text-transform: capitalize;
  margin-top: 5px;
  height: 2em;
}

#add-item-button {
  margin-left: 10px;
  color: white;
}



a {
  color: olive;
}


.item-info {
  font-size: 1em;
}

#button-col {
  text-align: right;
}
