h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3em;
  font-weight: 900;
  position: relative;
  padding: 5px;
}

p {
  font-size: 1em;
}

.test-array .item {
  background-color: olive;
  width: fit-content;
  padding: 5px;
  color: white;
  font-weight: 500;
  min-width: 30px;
  text-align: center;
  text-transform: capitalize;
}

.numberOfItems {
  background-color: black;
  width: fit-content;
  padding: 5px;
  color: white;
  font-weight: 500;
  min-width: 30px;
  text-transform: capitalize;
  margin-top: 5px;
  height: fit-content;
}


.formFieldEmpty {
  background-color: white;
  width: fit-content;
  padding: 5px;
  margin-top: 5px;
  height: 2em;
}

.formConfirm {
  background-color: olivedrab;
  width: fit-content;
  padding: 5px;
  color: white;
  font-weight: 500;
  min-width: 30px;
  text-transform: capitalize;
  margin-top: 5px;
  height: 2em;
}

button {
  margin-left: 10px;
}



a {
  color: white;
}
