/* You can add global styles to this file, and also import other style files */

html,
body {
  font-size: 16px;
  margin: 10px;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3em;
  font-weight: 900;
  position: relative;
}

p {
  font-size: 1em;
}
